<ng-container *ngIf="isLoginMode; else registrationMode">
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <div class="flex flex-column mb-4">
      <div class="mb-3">
        <input
          formControlName="email"
          pInputText
          class="w-full"
          placeholder="Почта"
          type="email">
        <small
          *ngIf="authForm.get('email')?.errors?.['required']
          && authForm.get('email')?.touched"
          class="p-error pt-1 pl-2">
          Почта обязательна к заполнению.
        </small>
        <small
          *ngIf="authForm.get('email')?.errors?.['email']
          && authForm.get('email')?.touched"
          class="p-error pt-1 pl-2">
          Некорректная почта.
        </small>
      </div>
      <span class="p-input-icon-right">
        <i (click)="onShowPassword()" *ngIf="!showPassword" class="pi pi-eye"></i>
        <i (click)="onShowPassword()" *ngIf="showPassword" class="pi pi-eye-slash"></i>
        <input
          [type]="signUpPasswordInputType"
          class="w-full"
          formControlName="password"
          pInputText
          placeholder="Пароль">
      </span>
      <small
        *ngIf="authForm.get('password')?.errors?.['required']
          && authForm.get('password')!.touched"
        class="p-error pt-1 pl-2">
        Пароль обязателен к заполнению.
      </small>
      <small
        *ngIf="authForm.get('password')?.errors?.['minlength']
          && authForm.get('password')!.touched"
        class="p-error pt-1 pl-2">
        Пароль должен содержать минимум 6 символов.
      </small>
      <small
        *ngIf="error"
        class="p-error pt-1 pl-2">
        {{ error }}
      </small>
    </div>
    <div class="flex justify-content-center gap-3">
      <button [disabled]="!authForm.valid" label="Войти" pButton type="submit"></button>
      <button (click)="switchMode()" class="p-button-text" label="Регистрация" pButton type="button"></button>
    </div>
  </form>
</ng-container>

<ng-template #registrationMode>
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <div class="flex flex-column mb-4">
      <div class="mb-3">
        <input
          formControlName="email"
          pInputText
          class="w-full"
          placeholder="Почта"
          type="email">
        <small
          *ngIf="authForm.get('email')?.errors?.['required']
          && authForm.get('email')?.touched"
          class="p-error pt-1 pl-2">
          Почта обязательна к заполнению.
        </small>
        <small
          *ngIf="authForm.get('email')?.errors?.['email']
          && authForm.get('email')?.touched"
          class="p-error pt-1 pl-2">
          Некорректная почта.
        </small>
      </div>
      <span class="p-input-icon-right">
        <i (click)="onShowPassword()" *ngIf="!showPassword" class="pi pi-eye"></i>
        <i (click)="onShowPassword()" *ngIf="showPassword" class="pi pi-eye-slash"></i>
        <input
          [type]="signUpPasswordInputType"
          class="w-full"
          formControlName="password"
          pInputText
          placeholder="Пароль">
      </span>
      <small
        *ngIf="authForm.get('password')?.errors?.['required']
          && authForm.get('password')!.touched"
        class="p-error pt-1 pl-2">
        Пароль обязателен к заполнению.
      </small>
      <small
        *ngIf="authForm.get('password')?.errors?.['minlength']
          && authForm.get('password')!.touched"
        class="p-error pt-1 pl-2">
        Пароль должен содержать минимум 6 символов.
      </small>
      <input
        [type]="signUpPasswordInputType"
        class="mt-3"
        formControlName="passwordConfirmation"
        pInputText
        placeholder="Подтвердите пароль">
      <small
        *ngIf="authForm.get('passwordConfirmation')?.errors?.['passwordMismatch']
        && authForm.get('passwordConfirmation')!.touched"
        class="p-error pt-1 pl-2">
        Пароли не совпадают.
      </small>
      <small
        *ngIf="authForm.get('passwordConfirmation')?.errors?.['required']
        && authForm.get('passwordConfirmation')!.touched"
        class="p-error pt-1 pl-2">
        Подтверждение пароля обязательно к заполнению.
      </small>
      <small
        *ngIf="error"
        class="p-error pt-1 pl-2">
        {{ error }}
      </small>
    </div>
    <div class="flex flex-wrap justify-content-center gap-3">
      <button [disabled]="!authForm.valid" label="Зарегистрироваться" pButton type="submit"></button>
      <button (click)="switchMode()" class="p-button-text" label="Вход" pButton type="button"></button>
    </div>
  </form>
</ng-template>
