<ng-container *ngIf="loginMode; else registrationMode">
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <div class="flex flex-column mb-4">
      <input
        class="mb-3"
        formControlName="email"
        pInputText
        placeholder="Почта"
        type="email">
      <p-password
        [feedback]="false"
        [inputStyle]="{'width':'100%'}"
        [style]="{'width':'100%'}"
        [toggleMask]="true"
        formControlName="password"
        placeholder="Пароль">
      </p-password>
    </div>
    <div class="flex justify-content-center gap-3">
      <button [disabled]="!authForm.valid" label="Войти" pButton type="submit"></button>
      <button (click)="switchMode()" class="p-button-text" label="Регистрация" pButton type="button"></button>
    </div>
  </form>
</ng-container>
<ng-template #registrationMode>
  <form (ngSubmit)="onSubmit()" [formGroup]="authForm">
    <div class="flex flex-column mb-4">
      <input
        class="mb-3"
        formControlName="email"
        pInputText
        placeholder="Почта"
        type="email">
      <p-password
        [feedback]="false"
        [inputStyle]="{'width':'100%'}"
        [style]="{'width':'100%'}"
        [toggleMask]="true"
        class="mb-3"
        formControlName="password"
        placeholder="Пароль">
      </p-password>
      <p-password
        [feedback]="false"
        [inputStyle]="{'width':'100%'}"
        [style]="{'width':'100%'}"
        [toggleMask]="true"
        formControlName="passwordConfirmation"
        aria-describedby="password-confirmation-help"
        placeholder="Подтвердите пароль">
      </p-password>
      <small
        *ngIf="authForm!.hasError('passwordMismatch')
        && authForm.get('passwordConfirmation')!.touched"
        id="password-confirmation-help"
        class="p-error pt-1 pl-2">
        Пароли не совпадают.
      </small>
    </div>
    <div class="flex flex-wrap justify-content-center gap-3">
      <button [disabled]="!authForm.valid" label="Зарегистрироваться" pButton type="submit"></button>
      <button (click)="switchMode()" class="p-button-text" label="Вход" pButton type="button"></button>
    </div>
  </form>
</ng-template>

