<div class="announcement-heading">
  <div class="announcement-container container">
    <h3 class="announcement-heading__title">Доска объявлений</h3>
    <div class="announcement-heading__form-container">
      <button class="announcement-heading__category-btn">
        <img
          alt="categories"
          class="announcement-heading__category-btn-icon"
          src="assets/img/categories.svg"
        />
        <span class="announcement-heading__category-btn-text"
          >Все категории</span
        >
      </button>
      <form class="announcement-heading__search-form">
        <input
          class="announcement-heading__search-input"
          placeholder="Поиск по объявлениям"
          type="text"
        />
        <button class="announcement-heading__search-btn" type="submit">
          <span class="announcement-heading__search-btn-text">Найти</span>
          <img
            alt="search"
            class="announcement-heading__search-btn-icon"
            src="assets/img/search.svg"
          />
        </button>
      </form>
    </div>
  </div>
</div>
