.menu-container {
  display: flex;
  position: absolute;
  padding: 1.5rem 1.5rem 3rem 3rem;
  left: 0;
  top: 100%;
  z-index: 2;
  width: 100%;
  height: 60vh;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
  border-radius: 6px;
}

.active {
  background-color: #F5F5F5;
}

.parent-categories {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.subcategories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  align-content: flex-start;
  padding: 0 0.5rem 0 2rem;
  overflow-y: auto;
}

.parent-title {
  width: 100%;
  white-space: nowrap;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  padding-bottom: 1rem;
  cursor: pointer;

  &:hover {
    color: #3B82F6;
  }
}

.subcategories {
  flex-shrink: 0;
  min-width: 250px;
  width: 45%;

  & > * {
    cursor: pointer;

    &:hover {
      color: #3B82F6;
    }
  }
}

.subcategory-item {
  margin: 0.5rem 0;
}

.more-btn {
  background-color: transparent;
}

