<div class="fixed top-0 left-0 w-full h-full z-1 bg-black-alpha-40"></div>
<div class="menu-container">
  <ul class="col-3 p-0 overflow-y-auto">
    <li (mouseenter)="onHoverCategory($event)"
        *ngFor="let parentCategory of parentCategories"
        [ngClass]="{ active: parentCategory === selectedParentCategory }"
        class="parent-categories">
      {{ parentCategory.name }}
      <i class="pi pi-chevron-right"></i>
    </li>
  </ul>
  <div class="subcategories-container">
    <h2 class="parent-title">
      {{ selectedParentCategory.name }}
      <i class="pi pi-chevron-right font-semibold"></i>
    </h2>
    <ul *ngFor="let childCategory of getChildren(selectedParentCategory); let i = index"
        class="subcategories">
      <h3 class="pb-3 font-semibold">
        {{ childCategory.name }}
        <i class="pi pi-chevron-right font-semibold" style="font-size: 0.6rem; padding-top: 0.15rem"></i>
      </h3>
      <ng-container *ngFor="let childOfChild of getChildren(childCategory); let j = index">
        <li *ngIf="j < showItemsCounts[i]" class="subcategory-item">
          {{ childOfChild.name }}
        </li>
      </ng-container>
      <button
        (click)="showItemsCounts[i] = getChildren(childCategory).length"
        *ngIf="showItemsCounts[i] < getChildren(childCategory).length"
        class="more-btn">
        Еще {{ getChildren(childCategory).length - showItemsCounts[i] }}
      </button>
    </ul>
  </div>
</div>
