<div class="container">
  <h4 *ngIf="!isLoading" class="requested-announcements-title">Объявления по категории «{{ category.name }}»</h4>
  <ng-container *ngIf="announcements.length >= 1 && !isLoading">
    <div class="flex justify-content-between pb-4">
      <p class="text-color-secondary">Всего найдено {{ announcements.length }} <span>{{ countEnding }}</span>.</p>
    </div>
    <div class="announcements-grid">
      <app-announcement-item
        *ngFor="let announcement of announcements"
        [announcement]="announcement">
      </app-announcement-item>
    </div>
  </ng-container>

  <ng-container *ngIf="announcements.length < 1 && !isLoading">
    По такому запросу нет ни одного объявления.
  </ng-container>

  <ng-container *ngIf="isLoading">
    <div class="announcements-grid">
      <ng-container *ngFor="let _ of skeletonArr">
        <app-announcement-item></app-announcement-item>
      </ng-container>
    </div>
  </ng-container>
</div>
