.announcement-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.announcement-heading {
  border-bottom: 1px solid #E2DBFC;

  &__title {
    margin-right: 1.5rem;
    margin-block: 1rem;
    font-weight: 700;
    font-size: 1.9rem;
    line-height: 2rem;
    color: inherit;
  }

  &__form-container {
    display: flex;
    flex: 1 1 auto;
    flex-wrap: nowrap;
  }

  &__category-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    margin-right: 0.8rem;
    gap: 0.5rem;
    font-size: 0.9rem;
    color: #3B82F6;
    line-height: 1.3rem;
    border: 0.06rem solid #3B82F6;
    border-radius: 0.3rem;
    background: white;
  }

  &__search-form {
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__search-input {
    width: 100%;
    padding: 0.5rem 0.8rem;
    border-radius: 0.3rem 0 0 0.3rem;
    border: 0.06rem solid #CBD5E1;
    border-right: none;

    &::placeholder {
      font-size: 1rem;
    }
  }

  &__search-input:focus-within {
    outline: none;
  }

  &__search-btn {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.8rem;
    gap: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.3rem;
    border-radius: 0 0.5rem 0.5rem 0;
  }
}

@media (max-width: 1399.98px) {
  .announcement-container {
    padding-inline: 0.8rem;
  }
}

@media (max-width: 991.98px) {
  .announcement-heading {
    &__title {
      font-size: 1.8rem;
    }

    span {
      display: none;
    }
  }
}

@media (max-width: 767.98px) {
  .announcement-heading {
    &__title {
      margin-right: 0;
    }

    &__form-container {
      flex-basis: 100%;
    }
  }
}

@media (max-width: 575.98px) {
  .announcement-heading {
    input::placeholder {
      font-size: 0.8rem;
    }
  }
}
