.breadcrumb ::ng-deep {

  .p-breadcrumb .p-breadcrumb-chevron {
    padding-bottom: 1.4rem;
  }

  .p-breadcrumb .p-breadcrumb-chevron:before {
    content: '\002E';
    font-weight: bold;
    font-size: 2rem;
  }
}

@media (max-width: 767.98px) {
  .breadcrumb ::ng-deep {

    .p-menuitem-text {
      font-size: 0.8rem;
    }
  }
}
